body {background-color: LightGrey;}
img{border:5px solid white; padding:15px;margin:10px}
div {width: 600px;border: 5px solid white;padding: 20px;margin: 10px;}
h2 {color: black; text-align: left;}
li {color: black; text-align: left;}